{% extends 'base.html' %}

{% block title %}Skystore{% endblock %}
{% block content %}
{% include 'header.html' %}


<h2>Продукт</h2>
<p>Название: {{product.name}}</p>
<p>Описание: {{product.description|default:'Отсутствует'}}</p>
<p>Изображение: <img src="{{ product.image.url }}" alt="Отсутствует"></p>
<p>Категория: {{product.category}}</p>
<p>Цена: {{product.price}} Руб.</p>
<p>Дата создания: {{product.created_at|default:'Отсутствует'}}</p>
<p>Дата изменения: {{product.updated_at|default:'Отсутствует'}}</p>

{% endblock %}